.options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 32px;
  margin-top: 20px;
}

.btnOptions {
  width: 100px;
  font-size: 24px;
  font-weight: 200;
  color: cornflowerblue;
  text-align: center;
  margin-bottom: 20px;
}
